@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./css/base/base.css";
@import "./css/base/html.css";

@import "./css/plugins/alpine.css";
@import "./css/plugins/htmx.css";
